:root {
  --font: "Chivo", sans-serif;
  --orange: rgb(209, 101, 0);
  --green: #274e1c;
  --grey: rgb(192, 192, 192);
  --darkestgrey: #151b13;
}

header {
  font-family: var(--font);
  font-weight: 400;
  background-color: var(--darkestgrey);
  padding: 15px;
  color: var(--white);
}
section{
    background-color: var(--grey);
}
.margin {
  padding: 8px;
  background-color: var(--green);
}

.addressbar {
  /* background-color: var(--green); */
  padding: 25px 0 20px 0;
  background-color: var(--grey);
}

.textinput {
  height: 35px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid var(--darkestgrey);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.textinput:hover{
    border-color: var(--orange);
}
.map{
    border: 3px solid var(--darkestgrey);
    border-radius: 5px;
    background-color: var(--grey);
    height: 45px;
    width: 180px;
}
.map:hover{
    border-color: var(--orange);
}
.selected{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#parks {
  height: 300px;
}

#parks-el {
  background-color: var(--green);
}

#parks-el-title {
  border: solid var(--orange);
  width: 300px;
  margin: 0 auto;
}

/* #states {
    position: absolute;
    right: 211px;
    top: 245px;
    width: 85px;
} */
