/* Roots */
:root {
  --font: "Chivo", sans-serif;
  --orange: rgb(209, 101, 0);
  --green: #274e1c;
  --grey: rgb(192, 192, 192);
  --darkestgrey: #151b13;
}

/* Elements */
header {
  font-family: var(--font);
  font-weight: 400;
  background-color: var(--darkestgrey);
  padding: 15px;
  color: var(--white);
}

section {
  background-color: var(--grey);
}

i {
  color: var(--green);
  font-size: 125%;
}

footer {
  background-color: var(--darkestgrey);
  font-size: 16px;
}

/* Classes Here */
.margin {
  padding: 8px;
  background-color: var(--green);
}

.addressbar {
  padding: 25px 0 20px 0;
  background-color: var(--grey);
}

.textinput {
  height: 35px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid var(--darkestgrey);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.park-image {
  height: 150px;
  width: 150px;
}

.park-title {
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
  opacity: 0;
}

.park-div {
  box-shadow: 5px 5px 5px rgb(0, 49, 0);
}

.park-div:hover .park-title {
  opacity: 100%;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.textinput:hover {
  border-color: var(--orange);
}

.map {
  border: 3px solid var(--darkestgrey);
  border-radius: 5px;
  background-color: var(--grey);
  height: 45px;
  width: 200px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(51, 51, 51);
}

.map:hover {
  border-color: var(--orange);
}

.selected {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.selected-p2 {
    height: 423px;
}

.park-select {
  border: 3px solid var(--darkestgrey);
  display: inline-block;
  width: fit-content;
  font-weight: bold;
}

.modal-content {
  background-color: var(--darkestgrey);
  font-size: 20px;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--orange);
  width: 80%;
  color: white;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--orange);
  text-decoration: none;
  cursor: pointer;
}

/* IDs */
#addModal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#parks {
  height: 400px;
}

#parks-el {
  background-color: var(--green);
}

#parks-el-title {
  border: solid var(--orange);
  width: 300px;
  margin: 0 auto;
}

#backBtn {
  border: 3px solid var(--darkestgrey);
  border-radius: 5px;
  background-color: var(--grey);
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(51, 51, 51);
}

#backBtn:hover {
  border-color: var(--orange);
}

#map {
  height: 423px;
  width: 100%;
}

