:root {
  --font: "Chivo", sans-serif;
  --orange: rgb(209, 101, 0);
  --green: rgb(0, 88, 0);
  --grey: rgb(192, 192, 192);
}

header {
  font-family: var(--font);
  font-weight: 400;
  background-color: var(--orange);
  padding: 20px;
  color: var(--green);
}

.margin {
  padding: 15px;
  background-color: var(--green);
}

.addressbar {
  /* background-color: var(--green); */
  padding: 25px 0 20px 0;
  background-color: var(--grey);
}

.textinput {
  height: 35px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid var(--orange);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.park-image {
  height: 150px;
  width: 150px;
}

.park-title {
  width: 150px;
}

#parks {
  height: 300px;
}

#parks-el {
  background-color: var(--green);
}

#parks-el-title {
  border: solid var(--orange);
  width: 300px;
  margin: 0 auto;
}
